#### Loops

In [5]:
#print table of 5
n=5
for i in range(1, 11):
	print(n,"*",i,"=",n*i)

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [12]:
for i in range(1,5):
	print(1.0/i)

1.0
0.5
0.3333333333333333
0.25

In [3]:
#while loop to print nos from  1 to 10
count=1
while count<=10:
	print(count, end=".")
	count=count+1
#Output: 1.2.3.4.5.6.7.8.9.10.

1.2.3.4.5.6.7.8.9.10.

In [8]:
#while-else
a = eval(input("Enter number : "))
while a>10:
        print(a,end=".")
        a=a-1
else:
        print("\nFalse condition or loop")
#Output:
#Enter number : 15
#15.14.13.12.11.
#False condition or loop

Enter number : 15
15.14.13.12.11.
False condition or loop

In [11]:
#for with tuple
for i in (1,2,3,4,5):
	print(i)

1
2
3
4
5

In [13]:
#Geometric progression
r = float(input('r= '))
a = float(input('a= '))
n = int(input('n = '))

term = a
print(term)
for i in range(1,n):
	term = term * r #(i+1)th term
	print(term)#display (i+1)th term

r= 5
a= 6
n = 7
6.0
30.0
150.0
750.0
3750.0
18750.0
93750.0

##### Nested loop

In [14]:
for i in range(1,9):
	for j in  range(1,6):
		print (i*j, end=' ')
	print()

1 2 3 4 5
2 4 6 8 10
3 6 9 12 15
4 8 12 16 20
5 10 15 20 25
6 12 18 24 30
7 14 21 28 35
8 16 24 32 40

In [15]:
##print with '.' as separater
for i in range(1,4):
	for j in range(i, 2*i):
		print(j, end='.')

1.2.3.3.4.5.

In [17]:
#print without any separater
for i in range(1,4):
	for j in range(i, 2*i):
		print(j, end='')

123345

#### Break and continue

In [18]:
#print odd nos<10
i=0
while i<=10:
    i=i+1   
    if i%2==0:
        continue
    else:         
        print(i, end=' ')

1 3 5 7 9 11

In [20]:
r,a,n = 2,10,20
term = a
for i in range(n):
    term = term * r
    if (i > 3):
        break
print (term)

320

#### Functions

In [2]:
#defining method/function
def add(a,b):
    return(a+b)
#calling method/function
print(add(5,4))

9

In [3]:
#printString method
def printString(str):
	print(str)

printString("Hello World")

Hello World

In [5]:
#find max of 4 numbers-Nice Question
x1=5
x2=3
x3=10
x4=1

In [7]:
y1 = min(x1, x2) #min
y2 = min(x3,x4) #min
y3 = x1 + x2 - y1 #min is removed, max(x1, x2) remains
y4 = x3 + x4 -y2#min is removed, max(x3, x4) remains
y5 = max (y3, y4) #max(max(x1,x2),max(x3,x4())

In [8]:
print("max of x1,x2,x3,x4: ",y5)

max of x1,x2,x3,x4:  10

#### assert keyword

In [7]:
x = "hello"

#if condition returns True, then nothing happens:
assert x == "hello"

#if condition returns False, AssertionError is raised:
assert x == "goodbye"#AssertionError is raised

AssertionError:

In [8]:
x = "hello"

#if condition returns False, AssertionError is raised:
assert x == "goodbye", "x should be 'hello'"
#AssertionError: x should be 'hello'

AssertionError: x should be 'hello'

##### Scope Rules

In [24]:
def max(a1,b1):
    m1=0
    if(a1>b1):
        m1=a1;
    else:
        m1=b1
    return m1

def min(a2,b2):
    m2=0
    if(a2<b2):
        m2=a2;
    else:
        m2=b2
    return m2

In [25]:
print(max(5,7))

7

In [26]:
print(min(5,7))

5

##### Nested Function

In [28]:
def outerFunction(text):  
    text = text  
    
    def nestedFunction():  
        print(text)  
    
    nestedFunction()  
    
outerFunction("Hi")

Hi

### Call by value and call by reference

In [21]:
#call by value
def myfun(name, role):
    print(name,":",role)    
#fucntion call
myfun(name="ami", role="mentor")

def main():
    myfun(name="aayushi",role="teacher")
    myfun("Pruthvi","Raja")
#fucntion call
myfun(name="abhay", role="business man")
main()
#o/P:
#ami : mentor
#abhay : business man
#aayushi : teacher
#Pruthvi : Raja

ami : mentor
abhay : business man
aayushi : teacher
Pruthvi : Raja

In [26]:
#Call by reference
def student(*arg):
    for i in arg:
        print(i,end=":")
    print()
def main():
    #this will not work
    #student(fname="ami",lname="choksi")
    #this will work
    student(10)
    student(10,20)
    student(10,20,30)
main()
#O/P:
#10:
#10:20:
#10:20:30:

10:
10:20:
10:20:30:

#### Global variable

In [35]:
COUNT = 5

def increment():
    global COUNT
    COUNT = COUNT+1
def decrement():
    global COUNT
    COUNT = COUNT-1
    
increment()
print(COUNT)
decrement()
print(COUNT)

6
5

In [32]:
#Scope Rules
FACTOR = 10
def f(r):
	return FACTOR * r
def update_FACTOR():  
	FACTOR = 16   

x =f(5)
update_FACTOR()
y = f(5)
print (x, y)

50 50

In [36]:
#Passed Parameter Scope
M = 10

def double(M):
	return M+M

print (double(7), double(M))

14 20

#### Data Types in Details

##### String

In [37]:
#String Operations
name="ami choksi"

#length of the string
print(len(name))#Output 10
print(len('1\n2'))#Output 3

#Concatenate and Repeat
designation = name + "'s designation is associate professor"
print(designation)#ami choksi's designation is associate professor
#n times Repeatation - *n
print(name*5)#ami choksiami choksiami choksiami choksiami choksi

10
3
ami choksi's designation is associate professor
ami choksiami choksiami choksiami choksiami choksi

['my', 'name', 'is', 'ami']
mynameisami

In [11]:
#split()
b="my:name:is:ami"
c=b.split(':')
print(c)#['my', 'name', 'is', 'ami']

['my', 'name', 'is', 'ami']

In [15]:
#upper() lower()
s="ami"
print(s)#'ami'
up=s.upper()
print(up)#'AMI'
ls=s.lower()
print(ls)#'ami'

ami
AMI
ami

In [39]:
#Special case
#print(len('Amy's' + 'Pen')) #Error as single quoted string needs to escape the single quote
print(len("Amy\'s" + "Pen"))#Output: 8, as single quote inside string is escaped
print(len("Amy's" + "Pen"))#Output: 8, as double quoted string by default escapes the single quote inside the string

8
8

In [41]:
#String and Indexing
name='Acads'

In [42]:
print(name[0])

A

In [43]:
print(name[3])

d

In [44]:
#-1 is starting string from reverse
print(name[-1])

s

In [45]:
print('Hello'[1])

e

In [47]:
#print(name[50])#string index out of range

##### String slicing

In [48]:
name='amichoksi'

In [49]:
#print all characters from 0 to 3-1
print(name[0:3])#ami

ami

In [50]:
#print all characters before 3rd index
print(name[:3])#ami

ami

In [51]:
#print all characters after and including 3rd index
print(name[3:])#choksi

choksi

In [52]:
#print all characters
print(name[:])#amichoksi

amichoksi

#####  more slicing

In [53]:
name='Amichoksi' 
# 012345678
#-987654321
print("-4:-1",name[-4:-1])# oks

print("-4",name[-4:])#oksi

print("-4:8",name[-4:8])#oks

#if you give name[-4,4] it will not print anything as indexes should go in positive direction
print("-1:-4",name[-1:-4])#we have to go in positive direction, so here, it will not print anything

print("1:-1",name[1:-1])#michoks
print("-10,-1",name[-10:-1],":" )#Amichoks

print("-50,20",name[-50:20])#Amichoksi
#When left index is very very less than the start index and right index is very very large compared to right index, we ignore, python returns full string

-4:-1 oks
-4 oksi
-4:8 oks
-1:-4
1:-1 michoks
-10,-1 Amichoks :
-50,20 Amichoksi

In [3]:
#pass String to funcion
#print all words of a string
def printWords(s):
    words=s.split()
    for i in words:
        print(i)
st="Hello and welcome to the world of computers"
printWords(st)
#Output:
#Hello
#and
#welcome
#to
#the
#world
#of
#computers

Hello
and
welcome
to
the
world
of
computers

#### Tuples

In [56]:
t = ("intro to tuples", "ami choksi", 20)
for i in range(0,3):
    print(t[i])
print(t)
print(type(t))
c=()#Empty tuple
print(c)
singleton = (1,)#singleton tuple, at the end ',' is must
print(singleton)

intro to tuples
ami choksi
20
('intro to tuples', 'ami choksi', 20)
<class 'tuple'>
()
(1,)

#### Nested Tuple

In [58]:
course = ("Python", "Dr.Ami Choksi", 20)
student = ("Ishu", 20, course)
print(student)
#('Ishu', 20, ('Python', 'Dr.Ami Choksi', 20))

#length of the Tuple
print("course length",len(course))#3
print("student length",len(student))#3
empty=()
print("Empty length",len(empty))#0
singleton=(1,)
print(singleton, len(singleton))#1

('Ishu', 20, ('Python', 'Dr.Ami Choksi', 20))
course length 3
student length 3
Empty length 0
(1,) 1

In [60]:
course1=("Py","ami",20)
course2=("Dm","ac",30)
print("Concat",course1+course2)#('Py', 'ami', 20, 'Dm', 'ac', 30)
print("multiply",2*course2)#('Dm', 'ac', 30, 'Dm', 'ac', 30)
print("multiply",course2*2)

Concat ('Py', 'ami', 20, 'Dm', 'ac', 30)
multiply ('Dm', 'ac', 30, 'Dm', 'ac', 30)
multiply ('Dm', 'ac', 30, 'Dm', 'ac', 30)

##### Unpacking sequence

In [62]:
course=("Python","ami",22)
student=("ibhu",10,course)
print("student : ",student)

student :  ('ibhu', 10, ('Python', 'ami', 22))

In [64]:
name, roll, regcourse=student

print("name : ",name)
print("roll : ",roll)
print("regcourse : ",regcourse)

name :  ibhu
roll :  10
regcourse :  ('Python', 'ami', 22)

In [65]:
x1,x2,x3,x4 = 'amic'
print(x1)#a
print(x4)#c

#if we give x1,x2,x3,x4="ami"
#ValueError: not enough values to unpack (expected 4, got 3)

#x1,x2="ami"
#too many values to unpack (expected 2)

a
c

In [ ]:
(x,y) = (1,(2,4))[1]
print(y)#4

In [68]:
#(x,y) = (1,)
#print(y)#ValueError: not enough values to unpack (expected 2, got 1)
#cause 
#(1,(2,4))[1:] #Output ((2, 4),)
#(x,y)=((2,4),)
#y doesn't get any value

In [69]:
(x,y) = (1,(2,4))
print(y)#(2,4)


(x, y) = ("Hello","AK")
print(y)#AK


(x, (y1, y2)) = ("Hello","AK")
print(y1)#A

(2, 4)
AK
A

In [5]:
#Pass tuple to function
def printTupleElements(t):
    for i in t:
        print(i)

tp=(1,2,3,4,5,6)        
printTupleElements(tp)
#Output:
#1
#2
#3
#4
#5
#6

1
2
3
4
5
6

In [6]:
#Pass two tuple to function
def printTupleElements(t1,t2):
    for i in t1:
        print(i)
    for i in t2:
        print(i)

printTupleElements((1,2),(4,5))
#Output:
#1
#2
#4
#5

1
2
4
5

#### List Operations

In [111]:
# x and w are same: to see the difference between append and extend
x=[1,2,3,4,"five"]
w=[1,2,3,4,"five"]
# y and z are same: to see the difference between append and extend
y=["six","seven","eight",9,10]
z=["six","seven","eight",9,10]

In [112]:
x.append(y)
print(x)#[1, 2, 3, 4, 'five', ['six', 'seven', 'eight', 9, 10]]

[1, 2, 3, 4, 'five', ['six', 'seven', 'eight', 9, 10]]

In [113]:
w.extend(y)
print(w)#[1, 2, 3, 4, 'five', 'six', 'seven', 'eight', 9, 10]

[1, 2, 3, 4, 'five', 'six', 'seven', 'eight', 9, 10]

In [114]:
y.extend(y)
print(y)#['six', 'seven', 'eight', 9, 10, 'six', 'seven', 'eight', 9, 10]

['six', 'seven', 'eight', 9, 10, 'six', 'seven', 'eight', 9, 10]

In [117]:
# x.append will append to x but it doesn't return anything, so printing that 
#returns None
x=[1,2,3,4,"five"]
y=["six","seven","eight",9,10]
print(x.append(y))#None

None

In [13]:
#find the names from list whose last letter is ‘u’
names=['pinku','tinku','chinku','tonny','sony']
for i in names:
	if i[-1]=='u':
		print(i,end=".")#pinku.tinku.chinku.

pinku.tinku.chinku.

In [2]:
#making a string out of list and string to list
#list to string: join()
l=['my','name','is','ami']
print(l)#['my', 'name', 'is', 'ami']
b=''.join(l)
print(b)#'mynameisami'

['my', 'name', 'is', 'ami']
mynameisami

##### More list operations

In [ ]:
x  = [1,2,3,4,"five"]

In [ ]:
print(x[0])#1

In [ ]:
print(x[4])#five

In [ ]:
print(len(x))#5

In [ ]:
print(x[-1])#five

In [ ]:
print(x[-20:20])#[1, 2, 3, 4, 'five']

In [ ]:
print(x[-20:4]) #[1, 2, 3, 4]

In [ ]:
y=["six","seven","eight",9,10]

In [ ]:
z=x+y
print(z)#[1, 2, 3, 4, 'five', 'six', 'seven', 'eight', 9, 10]

In [ ]:
z=2*x
print(z)#[1, 2, 3, 4, 'five', 1, 2, 3, 4, 'five']

In [119]:
#x1,x2,x3,x4 = x#ValueError: too many values to unpack (expected 4)
#x1,x2,x3,x4,x5 = x;

In [120]:
x=[5,4,3,2,1]
print(x)#[5, 4, 3, 2, 1]

[5, 4, 3, 2, 1]

In [8]:
#Pass Lists to a function
def printList(ll1,ll2):
    for i in ll1:
        print(i)
    for i in ll2:
        print(i)

printList([1,2],[3,4])  
#Output:
#1
#2
#3
#4

1
2
3
4

##### Mutable and Unmutable

In [3]:
indoor=['badminton','table tennis', 'carrom']
outdoor=['football','cricket']
games=(indoor, outdoor)
print("games  :  ",games)
#games  :  (['badminton', 'table tennis', 'carrom'], ['football', 'cricket'])

games  :   (['badminton', 'table tennis', 'carrom'], ['football', 'cricket'])

In [2]:
cards=['sol','hearts','freecell']
print("games[0] : ",games[0])
#games[0] :  ['badminton', 'table tennis', 'carrom']                
#games[0] = cards# 'tuple' object does not support item assignment

games[0] :  ['badminton', 'table tennis', 'carrom']

In [4]:
games1=(indoor, outdoor, cards)
print(games1)#(['badminton', 'table tennis', 'carrom'], ['football', 'cricket'], ['sol', 'hearts', 'freecell'])

(['badminton', 'table tennis', 'carrom'], ['football', 'cricket'], ['sol', 'hearts', 'freecell'])

In [ ]:
games1=(['badminton', 'table tennis', 'carrom'], ['football', 'cricket'], ['sol', 'hearts', 'freecell'])
print(games1[:2])
#(['badminton', 'table tennis', 'carrom'], ['football', 'cricket'])

In [5]:
indoor=['badminton','table tennis', 'carrom']
outdoor=['football','cricket']
games =(indoor, outdoor)

print("games "  , games)
#games  (['badminton', 'table tennis', 'carrom'], ['football', 'cricket'])

(['badminton', 'table tennis', 'carrom'], ['football', 'cricket'])
games  (['badminton', 'table tennis', 'carrom'], ['football', 'cricket'])

In [6]:
#replaces outdoor[0]
outdoor[0]='hockey'
#(['badminton', 'table tennis', 'carrom'], ['hockey', 'cricket'])
if games1[:2] == games:
	print("True")
else:
	print("False")

#False

False

In [7]:
#change to list will change tuple which reference it
indoor=('badminton', 'table tennis', 'carrom')
games=(['badminton', 'table tennis', 'carrom'], ['football', 'cricket'])
if 'badminton' in indoor:
	print(True)
else:
	print(False)
#True
#in if condition, indoor   is replaced with games, it returns False

True

In [8]:
#Iterate over list
indoor=('badminton', 'table tennis', 'carrom')
games=(['badminton', 'table tennis', 'carrom'], ['football', 'cricket'])
for i in games:
	print (i)

['badminton', 'table tennis', 'carrom']
['football', 'cricket']

In [9]:
#append()
v1 = [1,2,3]
t1 = (v1,v1[:])
v1.append(4)
print (t1)#([1,2,3,4],[1,2,3])

([1, 2, 3, 4], [1, 2, 3])

#### List Comprehension and Generator

In [19]:
#Simple way of creating list
old_list=[1,2,3,4,5,6]
new_list = []
for i in old_list:
	new_list.append(i+2)
print(new_list)#[3, 4, 5, 6, 7, 8]

[1, 2, 3, 4, 5, 6]
[3, 4, 5, 6, 7, 8]

In [20]:
#List comprehension of above example
new_list=[x+2 for x in old_list]
print(new_list)#[3, 4, 5, 6, 7, 8]

[3, 4, 5, 6, 7, 8]

In [13]:
y=[x*x for x in range(1,11)]
print(y)
#[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [14]:
nums=[-1,25,9,-30,5]
pos = [x for x in nums if x>0]
print(pos)#[25, 9, 5]

[25, 9, 5]

In [15]:
neg = [x for x in nums if x<0]
print(neg)#[-1, -30]

[-1, -30]

In [16]:
absp = [(x, abs(x)) for x in nums]
print(absp)
#[(-1, 1), (25, 25), (9, 9), (-30, 30), (5, 5)]

[(-1, 1), (25, 25), (9, 9), (-30, 30), (5, 5)]

In [13]:
sqlist=[(x,y) for x in [1,2,3] for y in [12,9,27,4,50] if x*x ==y]
print(sqlist)#[(2, 4), (3, 9)]

[(2, 4), (3, 9)]

In [19]:
for i in range(4, 10, 2):
	print(i, end=" ") #4 6 8

4 6 8

In [20]:
z = [x*x for x in range(1,5) if (x%2 == 0)]
print(z)#[4, 16]

[4, 16]

In [21]:
#Comprehension with %
z = [x*x for x in range(1,5) if (x%2 == 0)]
print(z)#[4, 16]

[4, 16]

In [22]:
#Comprehension with range
z = [x*y for y in range(3, 1, -1) for x in range(1,4) ]
print(z)
#[3,6,9,2,4,6]

[3, 6, 9, 2, 4, 6]

##### Generators

In [11]:
#List Comprehension Example
list_comprehension = [i for i in range(11) if i % 2 == 0] 
print(list_comprehension)
#[0, 2, 4, 6, 8, 10]

[0, 2, 4, 6, 8, 10]

In [10]:
# Generator Expression 
generator_expression = (i for i in range(11) if i % 2 == 0) 
print(generator_expression) 
#<generator object <genexpr> at 0x0000000004FC41B0>

<generator object <genexpr> at 0x0000000004FC41B0>

In [12]:
#Iterate over Generator
for i in generator_expression: 
	print(i, end=" ")#0 2 4 6 8 10

0 2 4 6 8 10

In [23]:
#Get size of list comprehension and generator
from sys import getsizeof 
  
comp = [i for i in range(10000)] 
gen = (i for i in range(10000)) 
  
#gives size for list comprehension 
x = getsizeof(comp)  
print("x = ", x) 
  
#gives size for generator expression 
y = getsizeof(gen)  
print("y = ", y) 
#x =  87624
#y =  120

x =  87624
y =  120

#### Sets

In [14]:
#set is defined as 
s={1,2,3,3,4}
#it ONLY considers unique elements
print(s)#{1, 2, 3, 4}

{1, 2, 3, 4}

In [1]:
#Use of in Operator
basket=['apple','banana','apple','pear','orange','banana']       
fruits=set(basket)
print("fruits: ",fruits)#fruits:  {'orange', 'pear', 'banana', 'apple'}
print("Type: ",type(fruits))#Type:  <class 'set'>

if 'apple' in fruits:
	print("True")
else:
	print("False")


if 'mango' in fruits:
	print("True")
else:
	print("False")

fruits:  {'orange', 'pear', 'banana', 'apple'}
Type:  <class 'set'>
True
False

##### Set Operations

In [ ]:
A=set('acads')
B=set('institute')
print("A: ",A)
print("B: ",B)

In [ ]:
print("A-B:",A-B)#{'a', 'd', 'c'}

In [ ]:
print("AUB : ", A|B)#{'i', 't', 's', 'u', 'c', 'a', 'n', 'e', 'd'}

In [ ]:
print("A&B",A&B)#{'s'}

In [2]:
#symmetric difference
print("A^B: ", A^B )#AUB - A&B
#A^B:  {'i', 'u', 'a', 'n', 'e', 'd', 't', 'c'}

A:  {'a', 'd', 's', 'c'}
B:  {'i', 't', 's', 'u', 'n', 'e'}
A-B: {'a', 'd', 'c'}
AUB :  {'i', 't', 's', 'u', 'c', 'a', 'n', 'e', 'd'}
A&B {'s'}
A^B:  {'i', 'u', 'a', 'n', 'e', 'd', 't', 'c'}

In [5]:
#Duplicate removal from a list
list1 = [1,2,3,5,3,2,7]
print(list1)#[1,2,3,5,3,2,7]
s=set(list1)
list1=list(s)
print("After removing duplicates",list1)#[1, 2, 3, 5, 7]

[1, 2, 3, 5, 3, 2, 7]
After removing duplicates [1, 2, 3, 5, 7]

In [6]:
#Special Cases
snacks = set(['burger', 'fries', 'pizza' , 'fries', 'toast', 'peanuts', 'fries', 'pizza'])
print(('fries' in snacks) > ('pizza' in snacks))#False

False

##### explanation of above example

In [7]:
print('fries' in snacks)#True

True

In [8]:
print('pizza' in snacks)#True

True

In [9]:
print(True>True)#False

False

In [ ]:
#Difference of set of strings

In [10]:
s1 = set(['burger', 'fries', 'pizza' , 'fries', 'toast', 'peanuts', 'fries', 'pizza'])
s2 = set(['burger', 'fries', 'burger', 'fries', 'omlette'])
print(s1-s2)#{'toast', 'peanuts', 'pizza'}

{'toast', 'peanuts', 'pizza'}

In [9]:
#Pass set to a function
def printSet(s):
    for i in s:
        print(i)

printSet({1,2,3})    
#Output:
#1
#2
#3

1
2
3

#### Dictionary

In [93]:
#Get Keys and Values lists of dictionary
dict1 = {'name':'ami','designation':'Associate Prof', 'institute':'ckpcet', 'name':'abhay'}
print("Dict : ",dict1)
#Dict :  {'name': 'abhay', 'designation': 'Associate Prof', 'institute': 'ckpcet'}

Dict :  {'name': 'abhay', 'designation': 'Associate Prof', 'institute': 'ckpcet'}

In [19]:
#Get Keys and Values lists of dictionary
dict1 = {'name':'ami','designation':'Associate Prof', 'institute':'ckpcet', 'name':'abhay'}
print("Dict : ",dict)

print(dict1['name'])#abhay
print(dict1.keys())#dict_keys(['name', 'designation', 'institute'])
print(dict1.values())#dict_values(['abhay', 'Associate Prof', 'ckpcet'])

Dict :  {'designation': 'Associate Prof', 'institute': 'ckpcet'}
abhay
dict_keys(['name', 'designation', 'institute'])
dict_values(['abhay', 'Associate Prof', 'ckpcet'])

In [16]:
#empty dictionary creation
dict1={}
print(dict1)#{}
print(type(dict1))#<class 'dict'>

{}
<class 'dict'>

##### Dictionary operations

In [ ]:
dict1 = {'name':'ami','designation':'Associate Prof', 'institute':'ckpcet', 'name':'abhay'}

In [ ]:
#length
print("len : ", len(dict1))#3

In [ ]:
#keys
print("keys: ", dict1.keys())#keys:  dict1_keys(['name', 'designation', 'institute'])

In [ ]:
#values
print("values:",dict1.values())#values: dict1_values(['abhay', 'Associate Prof', 'ckpcet'])

In [ ]:
#key available
print('name' in dict1)#True
print("key available:",dict1.get('nam','ruchi'))#ruchi
#if key is not available it throws exception, to solve it with get method, 
#default value is given

In [95]:
#key not available
print("key not available:",dict1.get('name','ruchi'))#abhay
dict1['name']='chamcham'
print(dict1['name'])#chamcham
del dict1['name']
print("dict1:",dict1)#dict1: {'designation': 'Associate Prof', 'institute': 'ckpcet'}

key not available: abhay
chamcham
dict1: {'designation': 'Associate Prof', 'institute': 'ckpcet'}

In [94]:
#iterate dictionary
for i in dict1:
	print("Key : ", i," Value : ",dict1[i])

Key :  name  Value :  abhay
Key :  designation  Value :  Associate Prof
Key :  institute  Value :  ckpcet

In [22]:
#del dict required
del dict

In [23]:
#if the code gives error of "TypeError: 'dict' object is not callable", do 
#del dict first then it works fine
airport=dict([('mum','bom'),('chen','maa')])
print(airport)#{'mum': 'bom', 'chen': 'maa'}

bob=dict(name='bob smith',age=42,pay='10000',job='dev')
print(bob)#{'name': 'bob smith', 'age': 42, 'pay': '10000', 'job': 'dev'}

{'mum': 'bom', 'chen': 'maa'}
{'name': 'bob smith', 'age': 42, 'pay': '10000', 'job': 'dev'}

In [13]:
#sorting dictinary 
key_value ={}     
key_value[2] = 56       
key_value[1] = 2 
key_value[5] = 12 
key_value[4] = 24
key_value[6] = 18      
key_value[3] = 323
#sorting dictinary with keys
print(sorted (key_value.keys()))#[1, 2, 3, 4, 5, 6]
#sorting dictinary with values
print(sorted(key_value.values()))#[2, 12, 18, 24, 56, 323]

[1, 2, 3, 4, 5, 6]
[2, 12, 18, 24, 56, 323]

In [12]:
#Pass dictionary to a function
def printDictionary(dc):
    for i in dc.keys():
        print(i,":",dc[i])

dct={1:11,2:22,3:33}        
printDictionary(dct)     
#Output:
#1 : 11
#2 : 22
#3 : 33

1 : 11
2 : 22
3 : 33

#### Higher Order Functions

In [35]:
#Pass Function as Argument}
def summation(n,f):
	sum=0
	for i in range(1,n+1):
		sum=sum+f(i)
	return sum

def identity(x):
	return x

def square(x):
	return x*x

def cube(x):
	return x**3

print("sum: " ,summation(10,identity))#sum:  55
print("square: ", summation(10,square ))#square:  385
print("cube: ", summation(10, cube))#3025

sum:  55
square:  385
cube:  3025

In [42]:
#Lambda function
def summation(n,f):
	sum=0
	for i in range(1,n+1):
		sum=sum+f(i)
	return sum

print(summation(10,lambda x:x))#55
print(summation(10,lambda x:x*x))#385
print(summation(10,lambda x:x*x*x))#3025

55
385
3025

#### Special cases

In [43]:
def printapp(f, xs):
    for i in xs:
        print(f(i), end='%')

def double(x):
    return x+x

printapp(double, [1,2,3])#2%4%6%

2%4%6%

In [44]:
def printapp(f, xs):
	for i in xs:
		print(f(i), end='')

printapp(lambda x: x+x, "str")#ssttrr

ssttrr

In [96]:
w = (lambda xs, ys : list (x + y for x in xs for y in ys)) ((1 ,2), (9, 11))

print (w)#[10, 12, 11, 13]

<function <lambda> at 0x00000000081D0950>

In [46]:
def printapp(f, xs):
	for i in xs:
		print(f(i), end='')

printapp(lambda x: x+x, [(1,2), (3,4)])
#(1, 2, 1, 2)(3, 4, 3, 4)

(1, 2, 1, 2)(3, 4, 3, 4)

In [47]:
def printapp(f, xs):
	for i in xs:
		print(f(i), end='%')

def double(x):
	return x+x
printapp(double, {1:1, 2:4, 3:9})#2%4%6%

2%4%6%

In [49]:
def sieve(n):
	global primes
	primes=[True]*(n+1)
	#print(primes)
	primes[0], primes[1]=False, False; #0 & 1 are treated composite

	for j in range(2, n+1):
		if  primes[j]==False:
			continue
		for i in range(2*j, n+1, j):
			primes[i] = False

global primes
n = int(input('n= '))

sieve(n)
for i in range(2, n+1):
	if primes[i]:
		print(i, end=' ')

n= 100
2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

#### File I/O

In [51]:
#File IO write
#open(filename, mode)
test=open("test.txt","w")
test.writelines("hello and welcome to the world of computers")
test.write("\nhello friends")
test.write("\nRushi, ishu")
test.close()

'''Content of test.txt
hello and welcome to the world of computers
hello friends
Rushi, ishu
'''

In [53]:
#File IO read
test=open("test.txt","r")
for line in test:
    print(line,end='')
test.close()
print("\ntest Obj",test)

hello and welcome to the world of computers
hello friends
Rushi, ishu
test Obj <_io.TextIOWrapper name='test.txt' mode='r' encoding='cp1252'>

In [60]:
#Sequence Operations on Content of File
fn=open('tennisPlayers.txt','r')

pn, pc = [], []
for i in fn:
    pn.append(i[:-1])#ignore \n
fn.close()

fc = open('tennisCountries.txt','r')
for i in fc:
    pc.append(i[:-1])
fc.close()
print(pn,'\n',pc)
'''
Output:
['stefi', 'martina'] 
 ['India', 'England']
'''

['stefi', 'martina']
 ['India', 'England']

In [61]:
#Making Dictionary out of Files Contents
fn=open('tennisPlayers.txt','r')


pn, pc = [], []
for i in fn:
	pn.append(i[:-1])#ignore \n
fn.close()

fc = open('tennisCountries.txt','r')
for i in fc:
	pc.append(i[:-1])
fc.close()
print(pn,'\n',pc)


print("len",len(pc))
nameCountry = []
for i in range(len(pc)):
	nameCountry.append((pn[i],pc[i]))
n2c = dict(nameCountry)
print(n2c)
'''
Output:
['stefi', 'martina'] 
 ['India', 'England']
len 2
{'stefi': 'India', 'martina': 'England'}
'''

['stefi', 'martina']
 ['India', 'England']
len 2
{'stefi': 'India', 'martina': 'England'}

In [ ]:
#Content of seek1.txt
'''
first line
second line
third line
fourth line
fifth line
'''

In [68]:
# seek operation
f = open("seek1.txt", "r")

f.seek(4)
for line in f:
    print(line,end='')
f.close()
'''
Output:
t line
second line
third line
fourth line
fifth line
'''

t line
second line
third line
fourth line
fifth line

In [69]:
#Append operation
fo = open('seek1.txt', 'a')

# Append 'hello' at the end of file
fo.write('hello')

# Close the file
fo.close()
'''
Contents of seek1.txt after append operation
first line
second line
third line
fourth line
fifth linehello
'''

#### Exceptions

In [71]:
#ValueError
while True:
    try:
        x = int(input("Please enter a number: "))
        break
    except ValueError:
        print("Oops!  That was no valid number.  Try again...")
'''
Output:
Please enter a number: 5.5
Oops!  That was no valid number.  Try again...
Please enter a number: 5
'''

Please enter a number: 5.5
Oops!  That was no valid number.  Try again...
Please enter a number: 5

In [73]:
#KeyboardInterrupt
#raise the exception and finally
try:
	raise KeyboardInterrupt
finally:
	print('Goodbye, world!')

Goodbye, world!

KeyboardInterrupt:

In [82]:
#If directory is not writable IOError Exception
try:
#/target.txt generated IOError
#if changed to target.txt no exception is generated
	#w=open('/target.txt','w')
    w=open('target.txt','w')
except IOError:
	print("Can not write to the target file")
else:
		w.write('success')
		print('Can write in dir')
w.close()
'''
#/target.txt
Can not write to the target file
#target.txt
Can write in dir
'''

Can write in dir

In [85]:
#Try, except, else, finally
#ValueError
#ZeroDivisionError
try:
	x = int(input("x = "))
	y = int(input("y = "))
	result = x/y
except ValueError:
	print("Bad number in input")    
except ZeroDivisionError:
	print("division by zero")
else:
	print("result is", result)
finally: 
	print("program finished")

'''
#1st try
x = 5.5
Bad number in input
program finished

#2nd try
x = 5
y = 7
result is 0.7142857142857143
program finished

#3rd try
x = 5
y = 0
division by zero
program finished
'''

x = 5
y = 0
division by zero
program finished

'\n#1st try\nx = 5.5\nBad number in input\nprogram finished\n\n#2nd try\nx = 5\ny = 7\nresult is 0.7142857142857143\nprogram finished\n\n#3rd try\n'

In [86]:
#special case
try:
	print('Hello', end='#')
except:   
	print('Bye', end='#')
else:
	print('PK', end='#')
finally:
	print('AK', end='#')
'''
Output:
Hello#PK#AK#
'''

Hello#PK#AK#

In [88]:
#ArithmeticError
try:
	5/0
except:
	print("Something Bad Happened")
except ZeroDivisionError:
	print("Division by Zero")
except ArithmeticError:
	print("Bad Arithmetic")
#Output: 5/0: SyntaxError: default 'except:' must be last

Division by Zero

In [ ]:
#modified above

In [89]:
try:
	5/0
except ZeroDivisionError:
	print("Division by Zero")
except ArithmeticError:
	print("Bad Arithmetic")
except:
	print("Something Bad Happened")
#Output:Division by Zero

Division by Zero

In [6]:
x = "hello"

#if condition returns True, then nothing happens:
try:
    assert x == "hello"
except AssertionError:
    print("Assert error hello")
else:
    print("ok hello")
#if condition returns False, AssertionError is raised:
try:
    assert x == "goodbye"
except AssertionError:
    print("Assert error goodbye")
else:
    print("ok goodbye")

#Output:    
#ok hello
#Assert error goodbye

ok hello
Assert error goodbye

In [92]:
#ODD EVEN INDEX
s=input("Enter a string : ")
listt=list(s)
n=len(listt)
lOdd=''.join(listt[1::2])
lEven=''.join(listt[0::2])
print("Output: ",lEven,lOdd) 
'''
Output:
Enter a string : Hacker Rank
Output:  Hce ak akrRn
'''

Enter a string : Hacker Rank
Output:  Hce ak akrRn