#### print Hello World

In [120]:
print("Hello World")

Hello World

#### Print value of a variable

In [121]:
var=2

In [122]:
print("var",var)#output is 2

var 2

In [123]:
print("2 + 2 =", 2+2) #output is 4

2 + 2 = 4

In [124]:
print ("2*3=", 2*3, "4*5", 4*5)#output is 2

2*3= 6 4*5 20

#### Take Input from User

In [125]:
num = input("Enter your age : ")

Enter your age : 6

In [126]:
print("your age is ", num)

your age is  6

#### Find a type of a number

In [127]:
#Type of var/value
print(type(5)) #<class 'int'>

<class 'int'>

In [128]:
print(type(-10))#<class 'int'>

<class 'int'>

In [129]:
print(type(10.5))#<class 'float'>

<class 'float'>

In [130]:
print(type(True))#<class 'bool'>

<class 'bool'>

In [131]:
print(type("hi ami"))#<class 'str'>

<class 'str'>

In [132]:
print(type(3!=2))#<class 'bool'>

<class 'bool'>

#### Type Conversion

In [133]:
print( int(2.5))#Output 2

2

In [134]:
print( int(2.3))#Output 2

2

In [135]:
print( int(3.9))#Output 3

3

In [136]:
print( float(3))#Output 3.0

3.0

In [137]:
print( int('75'))#Output 75

75

In [138]:
print(int('abcd'))#ValueError

ValueError: invalid literal for int() with base 10: 'abcd'

#### input() method accept String

In [139]:
a=input('enter no : ')

enter no : 7

In [140]:
print("adding 5 to a ", a+5)

TypeError: can only concatenate str (not "int") to str

In [141]:
#modified one convert string to int
print("adding 5 to a ", int(a)+5)

adding 5 to a  12

#### Take int input

In [142]:
a=int(input())

6

In [143]:
print("adding 5 to a ", a+5)

adding 5 to a  11

#### Concate number and string

In [144]:
a=10

In [145]:
b="ami"

In [146]:
c=str(a)+b

In [147]:
print(c)

10ami

#### Formatted Print

In [148]:
print("Art:%5d, Price per Unit:%8.2f"%(453,59.058))

Art:  453, Price per Unit:   59.06

#### Operators-Expressions

##### Arithmetic

In [149]:
a=5
b=7

In [150]:
print(a+b)

12

In [151]:
print(a-b)

-2

In [152]:
print(a*b)

35

In [153]:
print(a/b)

0.7142857142857143

In [154]:
#integer divison
print(25//b)

3

In [155]:
print(a%b)

5

In [156]:
print(a**b)

78125

##### Comparison

In [157]:
print(a<b)

True

In [158]:
print(a<=b)

True

In [159]:
print(a>b)

False

In [160]:
print(a>=b)

False

In [161]:
print(a==b)

False

In [162]:
print(a!=b)

True

##### Assignment

In [163]:
c=a
print(c)

5

In [164]:
c+=5
print(c)

10

In [165]:
c-=5
print(c)

5

In [166]:
c*=5
print(c)

25

In [167]:
c%=6
print(c)

1

In [168]:
c/=5
print(c)

0.2

In [169]:
c**=5
print(c)

0.0003200000000000001

In [170]:
#integer division and assignment
c=21
c//=5
print(c)

4

##### Logical

In [171]:
l1=True
l2=False

In [172]:
#and
print(l1 and l2)

False

In [173]:
#or
print(l1 or l2)

True

In [174]:
#not
print(not(l1))

False

#### Bitwise operations

In [175]:
b1=25  #11001
b2=10  #01010

In [176]:
print(b1&b2)#01000

8

In [177]:
print(b1|b2)#11011

27

In [178]:
print(b1^b2)#10011

19

In [179]:
print(~(b1))#00110

-26

In [180]:
print(b1>>2)#110

6

In [181]:
print(b1<<2)##1100100

100

##### Identity operators

In [ ]:
print(type(a))

In [182]:
#is operator
print(type(a) is int)

<class 'int'>
True

In [183]:
#is not operator
print(type(a) is not int)

False

##### Membership operators

In [184]:
#list
l={1,2,3,4,5}

In [187]:
#in operator
print(5 in l)
print(7 in l)

True
False

In [188]:
#not in operator
print(5 not in l)
print(7 not in l)

False
True

#### Conditional

In [190]:
#find the minimum of two numbers
x,y = 5,10
if x<y:
	print(x)	
else:
	print(y)
print('is the minimum')

5
is the minimum

In [191]:
#find the minimum of two numbers
x,y = 5,1
if x<y:
	print(x)	
else:
	print(y)
print('y')
print(' is the minimum')

1
y
 is the minimum

In [192]:
#find the minimum of three numbers
x,y,z = 115,100,150
if x<=y:
	if x<=z:
		print(x)
	else:
		print(z)
else:
	if y<=z:
		print(y)
	else:
		print(z)

100

In [193]:
x,y,z = 115,100,15
if x<=y and x<=z:
	print(x)
elif y<=x and y<=z:
	print(y)
else:
	print(z)

15

In [197]:
3*20/5/4-17-30+45+7+2

10.0

In [198]:
x = 0.1*3
print(x)
if x==0.3:
	print("Fly")
else:
	print("Sleep")

0.30000000000000004
Sleep

In [199]:
#no output
if (5 > 6) or (6 > 5):
	"ok"
else:
	"not ok"

In [200]:
y = 0.1*3
if y != 0.3:   
	print ('Launch a Missile')
else: print ("Let's have peace")

Launch a Missile