## Module 1: OOP

In [ ]:
# Problem: Design classes where one is parent & other is child. let child call the parent method. [2 Points]

class Parent:
    def run_parent_method(self):
        return "This is parent method"
    
class Child(Parent):
    def run_child_method(self):
        return "This is child method"

assert Child().run_parent_method() == "This is parent method"
assert Child().run_child_method() == "This is child method"

In [21]:
# Problem: add private varible that stores genearted uuid and write mechanism to access them for class instance object.
#          you can use `str(uuid.uuid4())` to generate uuid    [4 Points]
import uuid

class Employee:
    
    def __init__(self, name, birth_year):
        self.__uid = str(uuid.uuid4())
        self.name = name
        self.birth_year = birth_year
    
    def get_uuid(self):
        return self.__uid

emp = Employee("Foo", 1998)
generated_uuid = NotImplemented
generated_uuid = emp.get_uuid()
assert isinstance(generated_uuid, str)

## Module 2: Iterables

In [25]:
# Problem: Implement __iter__() and next() method for following class [6 Points]

class SquareIterator:
    
    def __init__(self, limit):
        self.limit = limit
        self.n = 0
    
    def __iter__(self):
        return self
    
    # for python3 compatibility
    def __next__(self):
        return self.next()
    
    def next(self):
        if self.n < self.limit:
            cur, self.n = self.n, self.n + 1
            return cur*cur
        else:
            raise StopIteration()

sq_itr1 = SquareIterator(5)
assert list(sq_itr1) == [0, 1, 4, 9, 16]

sq_itr1 = SquareIterator(101)
assert sum(sq_itr1) == 338350

In [30]:
# Problem: Create student objects with provided list of name and enrollment id using Zip [4 Points]

class Student:
    
    def __init__(self, data):
        self.name = data[0]
        self.roll = data[1]

names = ["Rahul", "Shyam", "Krupa", "Aakash"]
enrollments = [1122, 2345, 1456, 2295]

students = []
for data in zip(names, enrollments):
    students.append(Student(data))
    
assert len(students) == 4
assert (students[0].name, students[0].roll) == ("Rahul", 1122)

## Module 3: Data Processing

In [32]:
! pip3 install numpy pandas

Collecting numpy
  Downloading numpy-1.18.3-cp36-cp36m-manylinux1_x86_64.whl (20.2 MB)
     |████████████████████████████████| 20.2 MB 164 kB/s  eta 0:00:01
Collecting pandas
  Downloading pandas-1.0.3-cp36-cp36m-manylinux1_x86_64.whl (10.0 MB)
     |████████████████████████████████| 10.0 MB 265 kB/s  eta 0:00:01
Collecting pytz>=2017.2
  Downloading pytz-2019.3-py2.py3-none-any.whl (509 kB)
     |████████████████████████████████| 509 kB 11.3 MB/s eta 0:00:01
Requirement already satisfied: python-dateutil>=2.6.1 in /mnt/d/CKPCET Python Event/venv/lib/python3.6/site-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in /mnt/d/CKPCET Python Event/venv/lib/python3.6/site-packages (from python-dateutil>=2.6.1->pandas) (1.14.0)
Installing collected packages: numpy, pytz, pandas
Successfully installed numpy-1.18.3 pandas-1.0.3 pytz-2019.3

In [33]:
import numpy as np
np.random.seed(40)

In [37]:
# Problem: create random integer numpy array with shape (30, 20) and values between 500 & 15000  [2 Points]
np_array = np.random.randint(1, high=200000, size=(30,30))

In [39]:
# Problem: use the array created above an compute following: min, max, mean, median, stadard deviation [2 Points]
print(np_array.min())
print(np_array.max())
print(np_array.mean())
print(np.median(np_array))
print(np_array.std())

590
199526
98919.08111111111
99967.5
56174.03743673247

In [43]:
# Problem: create pandas dataframe with three columns & seven rows. 
# Name, Age & Rating. Name: Person's name, Age: Person's age, Rating: credit rating out of 10    [3 Points]
import pandas as pd
df = pd.DataFrame(
    {
        "Name": pd.Series(['Rishi', 'Aakash', 'Naveen', 'Ravi', 'Kajal', 'Alka', 'Divya']),
        "Age": pd.Series([25, 35, 62, 45, 73, 24, 19]),
        "Rating": pd.Series([3.45, 5.67, 2.56, 8.45, 5.36, 8.34, 9.12])
    }
)
df

     Name  Age  Rating
0   Rishi   25    3.45
1  Aakash   35    5.67
2  Naveen   62    2.56
3    Ravi   45    8.45
4   Kajal   73    5.36
5    Alka   24    8.34
6   Divya   19    9.12

In [46]:
# use the abouve dataframe and answer following question
# what is average age & rating in dataframe  [1 Points]
# Give the name for people who has rating more than average [1 Points]
# Give the name for person who is oldest [1 Points]

mean_age = df['Age'].mean()
mean_rating = df['Rating'].mean()

In [52]:
df[df['Rating']>mean_rating]['Name']

3     Ravi
5     Alka
6    Divya
Name: Name, dtype: object

In [50]:
df.max()['Name']

'Rishi'